USE [master]
GO
/****** Object:  Database [epolis]    Script Date: 14/10/2020 12:49:30 ******/
CREATE DATABASE [epolis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'epolis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\epolis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'epolis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\epolis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [epolis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [epolis]
GO
/****** Object:  Table [dbo].[PerusahaanAsuransi]    Script Date: 14/10/2020 12:49:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerusahaanAsuransi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KODEPERUSAHAAN] [char](8) NULL,
	[NAMAPERUSAHAAN] [varchar](40) NULL,
	[ALAMAT] [varchar](200) NULL,
	[NOTLP] [char](20) NULL,
	[NOFAX] [char](20) NULL,
	[CONTACTPERSON] [varchar](35) NULL,
	[EMAIL] [varchar](35) NULL,
 CONSTRAINT [TPERUSAHAANASURANSI_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__KODEP__37A5467C]  DEFAULT ('') FOR [KODEPERUSAHAAN]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__NAMAP__38996AB5]  DEFAULT ('') FOR [NAMAPERUSAHAAN]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__ALAMA__398D8EEE]  DEFAULT ('') FOR [ALAMAT]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__NOTLP__3A81B327]  DEFAULT ('') FOR [NOTLP]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__NOFAX__3B75D760]  DEFAULT ('') FOR [NOFAX]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__CONTA__3C69FB99]  DEFAULT ('') FOR [CONTACTPERSON]
GO
ALTER TABLE [dbo].[PerusahaanAsuransi] ADD  CONSTRAINT [DF__TPERUSAHA__EMAIL__3D5E1FD2]  DEFAULT ('') FOR [EMAIL]
GO
USE [master]
GO
